<?xml version="1.0"?>
<config>
    <modules>
        <LCB_OpcCart>
            <version>0.1.0</version>
        </LCB_OpcCart>
    </modules>
    <frontend>
        <routers>
            <opccart>
                <use>standard</use>
                <args>
                    <module>LCB_OpcCart</module>
                    <frontName>opccart</frontName>
                </args>
            </opccart>
        </routers>
        <layout>
            <updates>
                <opccart>
                    <file>opccart.xml</file>
                </opccart>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <opccart>
                <class>LCB_OpcCart_Helper</class>
            </opccart>
        </helpers>
        <blocks>
            <opccart>
                <class>LCB_OpcCart_Block</class>
            </opccart>
        </blocks>
    </global>
</config> 